.videoModal {
    position: absolute;
    top: 30vh;
    left: 40vw;
    right:40vw;
    bottom: 30vh;
    background-color: papayawhip;
    display: flex;
    font-family: 'Bebas Neue', cursive;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    vertical-align: top;
    transform: translateY(-50px); 
    border-radius: 5px;       
}

.videoOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E8571A;
}
#fileNameText {
    width: 15.5vw;
}

#descriptionText {
    width: 15vw;
    height: 20vh;
}