.VideoPageBody {
    height: 70vh;
}
.videoAndSuggestionContainer {
    display: flex;
    flex-direction: row;
}
.suggestionContainer{
    display: flex;
    flex-direction: column;
    height: 360px;
}
.suggestionBox{
    height: 100px;
    background-color: lightgray;
    border: solid 1px;
    margin-top: 7px;
}
.suggestionBox img{
    height: inherit;
}
.SuggestionCommentContainer {
    margin: 12px;
    border: solid 2px;
    padding: 12px;
}