#aboutMeSection {
    text-align: center;
    float:right;
    width:60%;
    height:200px;
}

h1 {
    padding-left: 5%;
    width: 50%
}

.profile-Picture {
    padding-left: 5%;
}

#view-history {
    float:left; 
    background:#595959;
    width:33%;
    height:200px;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

#User-Videos {
    float:left; 
    background:#595959;
    width:33%;
    height:200px;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

#favorite-videos {
    float:left; 
    background:#595959;
    width:33%;
    height:200px;
    padding-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

/* #favorite-videos h3 {
    position: absolute;
    top: 0;
}  */

.myprofilevideo {
    padding: 1%;
    border-style: solid;
    height: 30%;
}