footer {
    background-color: #ff6600;
}

#createdBy {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

#profiles {
    display: flex;
    align-items: center;
    justify-content: center;
}

#price-div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    text-align: center;
    font-size: large;
}

#warren-div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: large;
}

#nichols-div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: large;
}

#miller-div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: large;
}

#odell-div {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center;
    font-size: large;
}