footer {
    position: fixed;
    background-color: #ff6600;
    width: 100%;
    bottom: 0;
}

#createdBy {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: medium;
}

#profiles {
    font-family: 'Bebas Neue', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
}

#named-div {
    font-family: 'Bebas Neue', cursive;
    padding-right: 15px;
    text-align: center;
    font-size: large;
}
