.HeaderContainer {
    display: flex;
    flex-direction: row;
    background-color: #ff6600;
    padding: 7px;
    padding-top: 3px;
    padding-bottom: 45px;
    width: 100%;
}
.HeaderLogo {
    width: 85px;
    height: 85px;
}
.navbarContainer{
  display: flex;
  flex-direction: row;
  flex: grow;
  align-content: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #ff6600;
  overflow: hidden;
  text-align: center;
  height: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .navbarLogged {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar div{
    margin-left: 3px;
    margin-right: 3px;
  }
  
  /* Change the color of links on hover */
  .navbar div:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
  
  /* Add a color to the active/current link */
  .navbar div.active {
    background-color: #ddd;
    color: #333;
  }

  
#input-form{
    display: flex;
    flex-direction: row;
    height: 20px;
}

  #submitBtn { 
    background-color: #595959;
    color: #ddd;
  }
.HeaderAvatarContainer {
  align-content: right;

}
  