.HeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ff6600;
    padding: 0px;
    padding-top: 3px;
    padding-bottom: 45px;
    width: 100%;
}
.HeaderLogo {
    margin-left: 5px;
    height: 57px;
    width: 70px;
}
.navbarContainer{
  display: flex;
  flex-direction: row;
  flex: grow;
  align-content: center;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #ff6600;
  overflow: hidden;
  text-align: center;
  height: 50px;
  }
  
  /* Style the links inside the navigation bar */
  .navbarLogged {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar div{
    margin-left: 3px;
    margin-right: 3px;
    padding: 4px;
    padding-top: 2px;
    height:16px;
    border: solid 1px;
    border-color: #59595948;
  }
  
  /* Change the color of links on hover */
  .navbar div:hover {
    background-color: #ddd;
    color: black;
    cursor: pointer;
  }
  
  /* Add a color to the active/current link */
  .navbar div.active {
    background-color: #ddd;
    color: #333;
  }
#input-form{
    display: flex;
    flex-direction: row;
    height: 20px;
}

  #submitBtn { 
    background-color: #595959;
    color: #ddd;
  }

.HeaderAvatarContainer {
  margin-right: 5px;
  align-content: right;
}

.avatar {
  height: 50px;
}